[Unit]
Description=My FastAPI Application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/fastapi
Environment=/home/ubuntu/fastapi/venv/bin
EnvironmentFile=/home/ubuntu/fastapi/app/.env
ExecStart=/home/ubuntu/fastapi/venv/bin/gunicorn -c /home/ubuntu/fastapi/gunicorn.conf.py app.main:app

[Install]
WantedBy=multi-user.target
